.container{
    margin-left: 200px;
    width: 797px;
    height: 670px;
    background-color: yellow;
    border: 2px solid black;
}
.header{
    width: 770px;
    height: 45px;
    margin-left: 11px;
    margin-top: 8px;
    background-color: rgb(59, 166, 59);
    border: 2px solid black;
}
.menu{
    width: 770px;
    height: 25px;
    margin-left: 11px;
    margin-top: 8px;
    background-color: rgb(69, 212, 219);
    border: 2px solid black;
}
.menu2{
    width: 200px;
    height: 500px;
    margin-left: 11px;
    background-color: rgb(78, 97, 207);
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    
}
.content{
    width: 557px;
    height: 500px;
    margin-left: 5px;
    margin-top: 8px;
    background-color: rgb(173, 75, 203);
    border: 2px solid black;
    text-align: center;
    display: inline-block;
}
.footer{
    width: 770px;
    height: 45px;
    margin-left: 11px;
    margin-top: 8px;
    background-color: orange;
    border: 2px solid black;
}
.text-alignment{
    align-items: center;
    display: flex;
    justify-content: center;
}
.text-style{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}